@keyframes cloud {
  from {left : 900px;}
  to {left : 0px;}
}

@keyframes bird {
  from {left : 1100px;}
  to {left : 0px;}
}
@keyframes parasut {
  from {top : 0px;}
  to {top : 700px;}
}
.App {
  max-width : 1024px;
  max-height: 768px;
  border : 1px solid black;
  width : 1024px;
  height : 768px;
}
body {
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom,skyblue,white);
}

#cloud1 {
  width : 10%;
  position : relative;
  left : 900px;
  animation-name:cloud;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
#score {
  position : relative;
}
h1 {
  text-align: left;
}
#player1 {
  width : 10%;
  display : block;
  margin-left: auto;
  margin-right: auto;
  position : relative;
  margin-top: 200px;
}
#bird1 {
  width : 5%;
  position :absolute;
  animation-name:bird;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

#parasut1 {
  width : 10%;
  position : absolute;
  right : 500px;
  top : 0;
  animation-name:parasut;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

#star1 {
  width : 10%;
  position : absolute;
  right : 200px;
  top : 0;
  animation-name:parasut;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
button {
  width : 300px;
  position : absolute;
  top : 0;
  margin-left : auto;
  display : block;
}